services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - $HOME/docker/uptime-kuma/:/app/data
    ports:
      - "3010:3001"  # <Host Port>:<Container Port>
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"